<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>

        <div id="preloader"></div>
        <!-- BANNER
    ================================================== -->
        <section class="full-screen p-0 top-position">
            <div class="slider-fade2 owl-carousel owl-theme w-100">
                        <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0"
                            data-background="/userr/img/hero/hero-2.jpg">
                            <div class="container h-100 d-table">
                                <div class="row d-table-cell align-middle h-100">
                                    <div class="col-lg-5">
                                        <h3 class="alt-font mb-2 h6 text-uppercase">Offer</h3>
                                        <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9">
                                            Hoodies
                                            Up to 50% OFF</h1>
                                        <a href="/shop" class="butn-style4">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="item bg-img h-100 w-100 cover-background" data-overlay-dark="0"
                            data-background="/userr/img/hero/hero-3.jpg">
                            <div class="container h-100 d-table">
                                <div class="row d-table-cell align-middle h-100">
                                    <div class="col-lg-5">
                                        <h3 class="alt-font mb-2 h6 text-uppercase">Collection</h3>
                                        <h1 class="display-16 display-sm-8 display-md-5 display-lg-3 mb-1-6 mb-lg-2-9">
                                            Special
                                            Collection</h1>
                                        <a href="/shop" class="butn-style4">Shop Now</a>
                                    </div>
                                </div>
                            </div>
                        </div>

            </div>
        </section>

        <!-- CATEGORY
    ================================================== -->


        <!-- BY STYLE
    ================================================== -->
        <section class="bg-trend">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-3 mb-1-9 mb-lg-0">
                        <div class="pe-xl-6">
                            <h2 class="h1 mb-1-6 mb-lg-1-9">Shop <br>By Style</h2>
                            <p class="mb-1-6 mb-lg-1-9">Style any open air region with a few cautious review and cool
                                headed choices.</p>
                            <a href="#"
                                class="text-uppercase small font-weight-600 border-bottom border-color-black text-dark">All
                                Categories</a>
                        </div>
                    </div>
                    <div class="col-lg-9">
                        <div class="owl-carousel owl-theme by-trend-carousel text-center">
                            <% if(category.length> 0){

                                for(let i=0; i<category.length; i++){ %>
                                    <a href="/category/<%= category[i]._id %>">
                                        <img src="/product_img/<%= category[i].image %>" alt="...">
                                        <h3 class="h5 mb-0 mt-3">
                                            <%= category[i].category_name %>
                                        </h3>
                                    </a>
                                    <% }} %>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FEATURED PRODUCTS
    ================================================== -->
        <section>
            <div class="container">
                <div class="text-center mb-1-9 mb-lg-2-3">
                    <h2 class="mb-0">Featured Products</h2>
                </div>
                <div class="featured-product owl-carousel owl-theme">

                    <% if(product.length>0){
                        for(let i=0; i<product.length;i++){ %>

                            <div class="product-grid-two">
                                <div class="product-img">
                                    <a href="/product_view?name=<%= product[i]._id %>"><img
                                            src="/product_img/<%= product[i].image[0] %>" alt="..."></a>
                                </div>
                                <div class="product-block">
                                    <a href="/shop">
                                        <%= product[i].product_name %>
                                    </a>
                                    <span class="price">₹<%= product[i].price %></span>
                                </div>
                                <div class="product-hover">
                                    <div class="cart-button">
                                        <div class="d-inline-block">
                                            
                                            <button type="button" style="border: none;"
                                                onclick="addtocart('<%= product[i]._id %>','<%= product[i].price %>')"
                                                class="btn" title="Add To Wishlist"> <a
                                                    style="text-decoration: none;">+ Add to Cart</a>
                                            </button>
                                        </div>
                                        <div class="btn-group float-end">
                                            <% if (user) { %>
                                                <button style="border: none;"
                                                    onclick="addtowishlist('<%= product[i]._id  %>')"><i
                                                        class="ti-heart"></i></button>
                                                <% } else{ %>
                                                    <a href="/login"><i class="ti-heart"></i></a>
                                                    <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <% }} %>

                </div>
            </div>
        </section>

        <!-- OFFER BANNER
    ================================================== -->
        <section class="pt-0">
            <div class="container-fluid px-lg-1-9 px-xl-6 px-xxl-13">
                <div class="row mt-n4">
                    <div class="col-md-6 mt-4">
                        <div class="offer-style02">
                            <img src="/product_img/<%= banner[0].Image %>" alt="...">
                            <div class="text-center position-absolute top-10 start-0 end-0">
                                <span
                                    class="text-uppercase font-weight-500 text-white letter-spacing-2 d-block mb-2 mb-sm-3"><%= banner[0].caption %></span>
                                <h2 class="h1 mb-2 text-white"><%= banner[0].title %></h2>
                                <p class="text-white font-weight-600 display-29 d-none d-sm-block"><%= banner[0].sub_title %></p>
                                <a href="/shop" class="butn-style4 sm">Shop Now<span></span></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 mt-4">
                        <div class="offer-style02">
                            <img src="/product_img/<%= banner[1].Image %>" alt="...">
                            <div class="text-center position-absolute top-10 start-0 end-0">
                                <span
                                    class="text-uppercase font-weight-600 text-white letter-spacing-2 d-block mb-2 mb-sm-3"><%= banner[1].caption %></span>
                                <h2 class="h1 mb-2 text-white"><%= banner[1].title %></h2>
                                <p class="text-white font-weight-600 display-29 d-none d-sm-block"><%= banner[1].sub_title %></p>
                                <a href="/shop" class="butn-style4 sm">Shop Now<span></span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- SERVICES
    ================================================== -->
        <section class="p-0">
            <div class="container">
                <div class="row mt-n4">
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="/userr/img/icons/icon-10.png" class="mb-3" alt="...">
                            <h3 class="h5">Free Shipping</h3>
               
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="/userr/img/icons/icon-11.png" class="mb-3" alt="...">
                            <h3 class="h5">Money Return</h3>
                            <p class="mb-0">Guarantee under 7 days</p>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="userr/img/icons/icon-12.png" class="mb-3" alt="...">
                            <h3 class="h5">Gift Voucher</h3>
                          
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3 mt-4">
                        <div class="text-center">
                            <img src="userr/img/icons/icon-13.png" class="mb-3" alt="...">
                            <h3 class="h5">Support 24 / 7</h3>
                            <p class="mb-0">Support online 24 hours a day</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- LOOKBOOk
    ================================================== -->
        <br>
        <br><br>
        <!-- INSTAGRAM IMAGES
    ================================================== -->
        <section class="p-0">
            <div class="container-fluid px-0">
                <div class="row g-0 portfolio-gallery">
                    <div class="col-sm-4 col-lg" data-src="img/gallery/06.jpg"
                        data-sub-html="<h4 class='text-white'>#01</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="userr/img/gallery/06.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg" data-src="img/gallery/07.jpg"
                        data-sub-html="<h4 class='text-white'>#02</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="userr/img/gallery/07.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-4 col-lg" data-src="img/gallery/08.jpg"
                        data-sub-html="<h4 class='text-white'>#03</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="userr/img/gallery/08.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg" data-src="img/gallery/09.jpg"
                        data-sub-html="<h4 class='text-white'>#04</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="userr/img/gallery/09.jpg" alt="...">
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg" data-src="img/gallery/10.jpg"
                        data-sub-html="<h4 class='text-white'>#05</h4>">
                        <div class="instagram-block rounded-0">
                            <img src="userr/img/gallery/10.jpg" alt="...">
                        </div>
                    </div>
                </div>
            </div>
        </section>

        <!-- FOOTER
    ================================================== -->
        <footer class="pb-0 pt-6 pt-md-10 pt-lg-13 classic-footer">
            <div class="container">
                <div class="row mb-6 mb-md-10">
                    <div class="col-lg-6 mb-4 mb-lg-0">
                        <h2>Newsletter</h2>
                        <p class="mb-0">Get timely updates from your favorite products</p>
                    </div>
                    <div class="col-lg-6">
                        <div class="subscribe-style3">
                            <form>
                                <div class="form-group">
                                    <input type="email" placeholder="Enter your email..." id="email"
                                        class="form-control">
                                    <a href="#" class="subscribe-butn">Subscribe<span></span></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center border-top py-1-9">
                    <div class="col-md-5 col-lg-4 col-xl-3 mb-4 mb-lg-0 text-center text-md-start">
                        <div>
                            <ul class="list-style-17">
                                <li><img src="/userr/img/content/payment-options/visa.png" alt="..."></li>
                                <li><img src="userr/img/content/payment-options/mastercard.png" alt="..."></li>
                                <li><img src="userr/img/content/payment-options/paypal.png" alt="..."></li>
                                <li><img src="userr/img/content/payment-options/amex.png" alt="..."></li>
                                <li><img src="userr/img/content/payment-options/discover.png" alt="..."></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-7 col-lg-5 col-xl-6 text-center text-md-end text-lg-center mb-4 mb-lg-0">
                        <p class="mb-0 font-weight-600">&copy; <span class="current-year"></span> Ego.ft is Powered
                            by <a href="https://www.chitrakootweb.com/" target="_blank">Arshad</a></p>
                    </div>
                    <div class="col-lg-3 text-center text-lg-end">
                        <ul class="social-icon-style2 mb-0 ps-0">
                            <li>
                                <a href="#"><i class="fab fa-facebook-f"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                            </li>
                            <li>
                                <a href="#"><i class="fab fa-linkedin-in"></i></a>
                            </li>
                        </ul>
                    </div>

                </div>
            </div>

        </footer>

        </div>
        <script>

            function addtowishlist(proid) {
                $.ajax({
                    url: '/add_to_wishlist',
                    data: {
                        productId: proid
                    },
                    method: 'post',

                    success: (response) => {
                        if(response.success){
                        Swal.fire({
                        title: 'added',
                        text: 'product added to whilist',
                        icon: 'success',
                        showConfirmButton: false
                    })
                    }else{
                        Swal.fire({
                            title: 'Already Exist',
                            text :'Product Already in Wishlist',
                            icon: 'info',
                            showConfirmButton: false,
                            timer : 1000
                        })
                    }
                    }
                })

            }
            function addtocart(proid, pro_price) {

                $.ajax({
                    url: '/add_cart',
                    data: {
                        productId: proid,
                        price: pro_price
                    },
                    method: 'post',

                    success: (res) => {
                        if (res.success) {
                        Swal.fire({
                        title: 'Added',
                        text: 'product added to cart',
                        icon: 'success',
                        showConfirmButton: false,
                        timer : 2000
                    })
                    }else{
                        Swal.fire({
                            title: 'Already Exist',
                            text :'Product Already in Cart',
                            icon: 'info',
                            showConfirmButton: false,
                            timer : 1000
                        })
                        
                    }
                    }
                })

            }
        </script>
        <%- include('../layouts/footer.ejs') %>