<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>

        <body>

            <!-- PAGE LOADING
    ================================================== -->
            <div id="preloader"></div>

            <!-- MAIN WRAPPER
    ================================================== -->
            <div class="main-wrapper mp-pusher" id="mp-pusher">





                <!-- PAGE TITLE
        ================================================== -->
                <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
                    <div class="container">

                        <div class="title-info">
                            <h1>My Orders</h1>
                        </div>
                        <div class="breadcrumbs-info">
                            <ul class="ps-0">
                                <li><a href="/">Home</a></li>
                                <li><a href="#">My Orders</a></li>
                            </ul>
                        </div>

                    </div>
                </section>

                <!-- ACCOUNT ORDERS
        ================================================== -->
                <section class="md">
                    <div class="container">
                        <div class="row justify-content-center">

                            <!-- left panel -->
                            <div class="col-lg-4 col-sm-9 mb-2-3 mb-lg-0">

                                <div class="account-pannel">

                                    <div class="p-4">

                                        <div class="text-center">
                                            <div class="pb-3">
                                                <img class="img-fluid rounded-circle img-thumbnail"
                                                    src="/userr/img/avatar/t-3.jpg" alt="...">
                                            </div>
                                            <h6 class="mb-0 display-28">
                                                <%= user.name %>
                                            </h6>
                                            <small>Joined <%= user.join_date.toLocaleDateString() %></small>
                                            <div class="reward-points">
                                                <i class="ti-star text-primary pe-1"></i> Wallet:<%= user.wallet %>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="list-group">
                                        <a class="list-group-items active" href="/orders"><i
                                                class="ti-bag pe-2"></i>Orders<span
                                                class="badge badge-pill">6</span></a>
                                        <a class="list-group-items" href="/profile"><i
                                                class="ti-user pe-2"></i>Profile</a>
                                        <a class="list-group-items" href="/address"><i
                                                class="ti-location-pin pe-2"></i>Addresses</a>
                                        <a class="list-group-items" href="/wishlist"><i
                                                class="ti-heart pe-2"></i>Wishlist<span
                                                class="badge badge-pill">3</span></a>
                                    </div>

                                </div>

                            </div>
                            <!-- end left panel -->

                            <!-- right panel -->
                            <div class="col-lg-8">

                                <div class="common-block">

                                    <div class="inner-title">
                                        <h4 class="mb-0">My Orders</h4>
                                    </div>

                                    <div class="table-responsive">
                                        <table class="table">
                                            <% if(orders.length> 0){ %>
                                                <thead>
                                                    <tr>
                                                        <th>Order</th>
                                                        <th>Date</th>
                                                        <th>Status</th>
                                                        <th>Total</th>
                                                        <th>Actions</th>
                                                    </tr>
                                                </thead>
                                                <tbody>

                                                    <% orders.forEach((x,index)=> {
                                                        if(x.status !='Pending'){
                                                        %>
                                                        <tr>

                                                            <td>
                                                                <%= index+1 %>
                                                            </td>

                                                            <td>
                                                                <%= x.date.toLocaleDateString() %>
                                                            </td>

                                                            <td>
                                                                <% if (x.status=='Confirmed' ){ %>
                                                                    <span
                                                                        class="fas fa-circle text-primary small mr-1"></span><strong>
                                                                        <%= x.status %>
                                                                    </strong>
                                                                    <% }else if (x.status=='Processing' ){ %>
                                                                        <span
                                                                            class="fas fa-circle text-warning small mr-1"></span><strong>
                                                                            <%= x.status %>
                                                                        </strong>
                                                                        <% }else if (x.status=='Shipped' ){ %>
                                                                            <span
                                                                                class="fas fa-circle text-primary small mr-1"></span><strong>
                                                                                <%= x.status %>
                                                                            </strong>
                                                                            <% }else if(x.status=="Delivered" ){ %>
                                                                                <span
                                                                                    class="fas fa-circle text-success small mr-1"></span><strong>
                                                                                    <%= x.status %>
                                                                                </strong>
                                                                                <% } else if( x.status=='Cancelled' ){
                                                                                    %>
                                                                                    <span
                                                                                        class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                                        <%= x.status %>
                                                                                    </strong>
                                                                                    <% } else if(
                                                                                        x.status=='Return Pending' ){ %>
                                                                                        <span
                                                                                            class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                                            <%= x.status %>
                                                                                        </strong>
                                                                                        <% } else if(
                                                                                            x.status=='Return'
                                                                                            ){ %>
                                                                                            <span
                                                                                                class="fas fa-circle text-danger small mr-1"></span><strong>
                                                                                                <%= x.status %>
                                                                                            </strong>
                                                                                            <% } %>
                                                            </td>

                                                            <td>₹ <%= x.totel %>
                                                            </td>
                                                            <td>
                                                                <a href="/view-order?id=<%= x._id %>"
                                                                    class="text-primary">View</a>
                                                            </td>
                                                        </tr>
                                                        <%} }) }else{ %>
                                                            <img src="/userr/img/content/no orders.jpg" alt=""
                                                                srcset="">
                                                            <% } %>

                                                </tbody>
                                        </table>
                                    </div
                                </div>

                            </div>
                            <!-- end right panel -->
                        </div>
                    </div>
                </section>

                <!-- FOOTER
        ================================================== -->
                <%- include('../layouts/foot.ejs') %>

            </div>


            <!-- SCROLL TO TOP
    ================================================== -->
            <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>



        </body>
        <%- include('../layouts/footer.ejs') %>