<%- include('../layouts/header.ejs') %>
    <%- include('../layouts/nav.ejs') %>

        <body>

            <!-- PAGE LOADING
    ================================================== -->
            <div id="preloader"></div>

            <!-- MAIN WRAPPER
    ================================================== -->
            <div class="main-wrapper mp-pusher" id="mp-pusher">





                <!-- PAGE TITLE
        ================================================== -->
                <section class="page-title-section bg-img cover-background" data-background="img/bg/page-title.jpg">
                    <div class="container">

                        <div class="title-info">
                            <h1>Order Detailss</h1>
                        </div>
                        <div class="breadcrumbs-info">
                            <ul class="ps-0">
                                <li><a href="/home">Home</a></li>
                                <li><a href="#">Order Details</a></li>
                            </ul>
                        </div>

                    </div>
                </section>

                <!-- ACCOUNT ORDERS
        ================================================== -->
        <div class="content-wrapper">
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <br>

              <!-- Basic Bootstrap Table -->
              <span>Ordered on <%= order[0].date.toLocaleDateString() %> | </span>
              <span>
                <%= order[0].orderId %>
              </span>
              <div class="card">
                <br>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <thead>
                      <tr>
                        <th>Shipping Address
                        </th>
                        <th>Payment Methods</th>
                        <th>Order Summary</th>
                        <th>Status</th>

                      </tr>
                    </thead>
                    <tbody>


                      <tr>
                        <td><strong>
                    <%= order[0].address.name%> <br>
                    <%= order[0].address.number%> <br>
                    <%= order[0].address.pincode%> <br> 
                    <%= order[0].address.building%> <br>
                    <%= order[0].address.street%> <br>
                    <%= order[0].address.place%> <br>
                    <%= order[0].address.district%> <br>
                    <%= order[0].address.state %>
                          </strong></td>
                        <td><strong>
                            <%= order[0].paymentType %>
                          </strong></td>
                        <td>
                          <ul>
                            <li><strong>Subtotal:</strong> ₹ <%= order[0].totel %> </li>
                            <li><strong>Shipping:</strong> free </li>
                            <li><strong>Total:</strong> ₹ <%= order[0].totel %>
                            </li>
                          </ul>
                        </td>
                        <td>
                          <%= order[0].status %>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>


              <br><br>


              <div class="card">
                <br>
                <div class="table-responsive text-nowrap">
                  <table class="table">
                    <tbody>

                      <% order[0].product.forEach(x => { %>
                        
                       
                      <tr>
                        <td><strong>
                          <img src="/product_img/<%= x.productid.image[0] %>" alt=""
                                style="width: 50px; height: 50px;">
                          </strong></td>
                        <td><strong>
                          <%= x.productid.product_name %>
                          </strong></td>
                        <td>
                          <ul>
                            <li><strong>qty:</strong>  <%= x.qty %> </li>
                            <li><strong>price:</strong> ₹ <%= x.productid.price %> </li>
                            <li><strong>Subtotal:</strong> ₹ <%= x.singleTotel %> </li>
                            </li>
                          </ul>
                        </td>
                        
                      </tr>
                      <% }); %>
                    </tbody>
                  </table>
                </div>
              </div>
              <br>
              <% if( order[0].status != "Cancelled" && order[0].status != "Delivered" && order[0].status != "Retrun Pending" ){  %>
                <button class="butn-style2 dark float-end" onclick="cancelorder('<%= order[0]._id %>')">Cancel your Order</button>
              <% } else if(order[0].status == "Delivered") { %>
                <button class="butn-style2 dark float-end" onclick="returnorder('<%= order[0]._id %>')">Retrun your Order</button>
                <% } %>
              <br><br>
              
              <!--/ Basic Bootstrap Table -->

             




            


              <div class="content-backdrop fade"></div>
            </div>

                <!-- FOOTER
        ================================================== -->
              <%- include('../layouts/foot.ejs') %>

            </div>


            <!-- SCROLL TO TOP
    ================================================== -->
            <a href="#" class="scroll-to-top"><i class="fas fa-angle-up" aria-hidden="true"></i></a>



        </body>
        <script>
          function returnorder(order_Id){
            Swal.fire({
                    title: 'Are you sure?',
                    text: "You wan't to Return this order!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'yes, delete!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/retrun_order",
                            data: {
                                orderId: order_Id
                            },
                            method: 'post',
                            success: (response) => {
                                $('#reloadDiv').load('/wishlist #reloadDiv')
                                console.log(response);
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Your order is pending return list',
                                    icon: 'success',
                                    showConfirmButton: false
                                })
                               
                            }

                        })
                    }
                })
          }

            function cancelorder(order_Id){
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You wan't to cancel this order!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'yes, delete!'
                }).then((result) => {
                    if (result.isConfirmed) {
                        $.ajax({
                            url: "/cancel_order",
                            data: {
                                orderId: order_Id
                            },
                            method: 'post',
                            success: (response) => {
                                console.log("waoring")

                                $('#reloadDiv').load('/orders#reloadDiv')
                                console.log(response);
                                Swal.fire({
                                    title: 'Success!',
                                    text: 'Your Order Cancelled',
                                    icon: 'success',
                                    showConfirmButton: false
                                })
                                //  setTimeout(()=>{
                                //     location.reload()
                                //  },1000);

                            }

                        })
                    }
                })
            }

        </script>

        <%- include('../layouts/footer.ejs') %>